.about__section {
  height: 50vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.about__section h2 {
  color: #dddd;
  font-size: 5rem;
  padding-left: 3rem;
}
.about__section p {
  font-size: 2rem;
  padding-left: 18rem;
}
.about__section span {
  font-weight: 700;
}
