.form__section {
  height: 50vh;
  font-family: "Roboto", sans-serif;
  background-color: #ececec;
}
.form__section p {
  font-size: 1.5rem;
  padding-left: 5rem;
  // margin-top: 2rem;
}
.form__section input {
  border: 1px solid $black;
  border-radius: 0.2rem;
}
.form__section-main {
  margin: 2rem 0rem 0rem 5rem;
}
.contact__form-name,
.contact__form-email {
  padding: 1rem 2rem;
}
.contact__form-button {
  background-color: $black;
  color: white;
  padding: 0.8rem 2.2rem;
  border: 2px solid $black;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 13px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.contact__form-button:hover {
  transition: all 0.5s;
  background-color: white;
  // color: white;
  border: 2px solid $black;
  span {
    background-image: linear-gradient(90deg, #ec255a, #9145b6);
    -webkit-text-fill-color: transparent;

    background-clip: text;
    -webkit-background-clip: text;
  }
}
.form__section-social {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: -3rem;
}
.form__section-social i {
  padding-left: 2rem;
  color: $black;
  font-size: 2rem;
  &:hover {
    background-image: linear-gradient(90deg, #ec255a, #9145b6);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: ease-in-out 98ms transform;
    transform: scale(1.1);
  }
}
