@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    overflow: auto;
  }
  .hero__section {
    height: 100vh;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    .hero__section-social {
      flex-direction: row;
      margin-bottom: -2rem;
    }
    h1 {
      font-size: 4.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .hero__section-email p {
    transform: rotate(0);
    font-size: 1.2rem;
    margin: auto;
    padding-bottom: 7rem;
  }
  .about__section {
    height: 50vh;
  }
  .title {
    font-size: 3rem;
    padding: 0;
    text-align: center;
  }
  .about__section p {
    font-size: 1rem;
    padding-left: 1rem;
    text-align: left;
  }
  .portfolio__section {
    height: 100vh;
    flex-direction: column;
  }
  .portfolio__section-text p {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }
  .portfolio__section-text {
    padding-bottom: -2rem;
  }
  .portfolio__section-image {
    img {
      height: 12.4rem;
      width: auto;
    }
  }
  .portfolio__section-text {
    text-align: center;
  }
  .natureplus {
    flex-direction: column-reverse;
  }
  .testimonial__section {
    margin-top: 1rem;
    height: 80vh;
  }

  .testimonial__section-text {
    margin-top: 1.5rem;
    text-align: left;
    font-size: 1.4rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  .form__section-main {
    margin: 2rem 0rem 0rem 2rem;
  }
  .form__section p {
    padding-left: 2rem;
  }
  .form__section {
    height: 60vh;
  }
  .contact__form-name {
    margin-bottom: 2rem;
  }
  .contact__form-name,
  .contact__form-email {
    padding: 1rem 7rem;
  }
  .form__section input {
    text-align: left;
    padding-left: 0.8rem;
  }

  .contact__form-button {
    margin-top: 1rem;
    display: block;
  }
}
