.testimonial__section {
  height: 80vh;
  font-family: "Roboto", sans-serif;
}

.testimonial__section-text {
  text-align: left;
  font-size: 1.8rem;
  padding-left: 18rem;
  margin-bottom: 2rem;
}
.testimonial__section-text p {
  margin-bottom: 2rem;
}
.testimonial__section span {
  font-size: 1.3rem;
  font-weight: 700;
  a {
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
}
